<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
      <div class="card my-5">
        <div class="card-header">
          <div>#{{ project.projectID }}</div>
          <h5>{{ project.projectName }}</h5>
        </div>
        <div class="card-body">
          <table class="table table-borderless table-sm">
            <tr>
              <th>Date Of Start</th>
              <td>{{ project.dateOfStart }}</td>
            </tr>
            <tr>
              <th>Team Size</th>
              <td>{{ project.teamSize }}</td>
            </tr>
            <tr>
              <th>Client Location</th>
              <td>{{ project.clientLocation.clientLocationName }}</td>
            </tr>
            <tr>
              <th>Status</th>
              <td>{{ project.status }}</td>
            </tr>
          </table>
          <a class="btn btn-danger" [routerLink]="['/admin', 'projects']"
            >Go back</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
